<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tupperware.huishengyi">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppUIBaseTheme">
        <activity android:name=".ui.activities.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".ui.activities.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.SlideExitAnimation"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>

        <activity android:name=".ui.activities.URLTestActivity"></activity>
        <activity android:name=".ui.activities.ForgetPasswordActivity"></activity>
        <activity android:name=".ui.activities.ResetPasswordActivity"></activity>
        <activity android:name=".ui.activities.BrowserActivity"></activity>
        <activity android:name=".ui.activities.MemberZhaomuActivity"></activity>
        <activity android:name=".ui.activities.ScanCouponActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activities.CouponVerifyActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" ></activity>
        <activity android:name=".ui.activities.ProductVefiryActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" ></activity>
        <activity android:name=".ui.activities.RegisterChooseActivity"></activity>
        <activity android:name=".ui.activities.RegisterActivity"></activity>
        <activity android:name=".ui.activities.SearchActivity"></activity>
        <activity android:name=".ui.activities.PersonalInfoActivity"></activity>
        <activity android:name=".ui.activities.StoreSwitchActivity"></activity>
        <activity android:name=".ui.activities.PersonalSettingActivity"></activity>
        <activity android:name=".ui.activities.PersonalQrActivity"></activity>
        <activity android:name=".ui.activities.FeedBackActivity"></activity>
        <activity android:name=".ui.activities.StoreManagerActivity"></activity>
        <activity android:name=".ui.activities.BenefitCoinActivity"></activity>
        <activity android:name=".ui.activities.StaffManagerActivity"></activity>
        <activity android:name=".ui.activities.AddNewStaffActivity"></activity>
        <activity android:name=".ui.activities.KeyProductActivity"></activity>
        <activity android:name=".ui.activities.SaleRecordDetialActivity"></activity>
        <activity android:name=".ui.activities.InventoryRecordDetialActivity"></activity>
        <activity android:name=".ui.activities.ProductEnterActivity"></activity>
        <activity android:name=".ui.activities.MessageActivity"></activity>
        <activity android:name=".ui.activities.MessageDetialActivity"></activity>
        <activity android:name=".ui.activities.KeySaleProjectActivity"></activity>
        <activity android:name=".ui.activities.DevelopMemberActivity"></activity>
        <activity android:name=".ui.activities.DevProductSelectActivity"></activity>
        <activity android:name=".ui.activities.DevSexSelectActivity"></activity>
        <activity android:name=".ui.activities.DevAgeSelectActivity"></activity>
        <activity android:name=".ui.activities.DevInfoSelectActivity"></activity>
        <activity android:name=".ui.activities.DevInfoResultActivity"></activity>
        <activity android:name=".ui.activities.MemberDetialActivity"></activity>
        <activity android:name=".ui.activities.ReservationQrActivity"></activity>
        <activity android:name=".ui.activities.ReservationMarkActivity"></activity>
        <activity android:name=".ui.activities.WaterSafeCheckActivity"></activity>
        <activity android:name=".ui.activities.ReserPersonalTailorActivity"></activity>
        <activity android:name=".ui.activities.ReserCarnivalActivity"></activity>
        <activity android:name=".ui.activities.PurposeFollowActivity"></activity>
        <activity android:name=".ui.activities.ServerManagerActivity"></activity>
        <activity android:name=".ui.activities.BackVisitDetialActivity"></activity>
        <activity android:name=".ui.activities.BenefitCoinDeadlineActivity"></activity>
        <activity android:name=".ui.activities.MemberBenefitDetialActivity"></activity>
        <activity android:name=".ui.activities.MemberStatusActivity"></activity>
        <activity android:name=".ui.activities.FansChangeActivity"></activity>
        <activity android:name=".ui.activities.MemberConsumeActivity"></activity>
        <activity android:name=".ui.activities.ResOrderServerDetialActivity"></activity>
        <activity android:name=".ui.activities.OnlineOrderDetialActivity"></activity>
        <activity android:name=".ui.activities.DataWindowChartActivity"></activity>
        <activity android:name=".ui.activities.LiveDetialActivity"></activity>
        <activity android:name=".ui.activities.CourseDetialActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activities.MoreFunctionActivity"></activity>
        <activity android:name=".ui.activities.SaleEnterActivity"/>
        <activity android:name=".ui.activities.ProductSearchActivity"/>
        <activity android:name=".ui.activities.EnterListActivity" />
        <activity android:name=".ui.activities.RemarksActivity" />
        <activity android:name=".ui.activities.GiftDetialActivity" />
        <activity android:name=".ui.activities.ReservationServerActivity" />
        <activity android:name=".ui.activities.DevCookSelectActivity" />
        <activity android:name=".ui.activities.DevTasteSelectActivity" />
        <activity android:name=".ui.activities.DevPurifierSelectActivity" />
        <activity android:name=".ui.activities.DevRefrigeratorStyleActivity" />
        <activity android:name=".ui.activities.DevAttributeActivity" />
        <activity android:name=".ui.activities.DevQrActivity" />
        <activity android:name=".ui.activities.GiftListActivity"/>
        <activity android:name=".ui.activities.ActionListActivity" />
        <activity android:name=".ui.activities.ActionInvitateActivity" />
        <activity android:name=".ui.activities.SaleHistoryEnterActivity" />
        <activity android:name=".ui.activities.ReservationActionActivity" />
        <activity android:name=".ui.activities.WebViewActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.android.tupperware.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <!-- internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- SDCard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--二维码扫描start-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!--二维码扫描end-->

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- buggly 权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

</manifest>